.navigation {
    margin-top: 30px;
}

.massegeNav {
    background-color:#313131;
    padding: 20px;
    border-bottom: 1px solid black;
}
.profileNav {
    background-color:#313131;
    padding: 20px;
    border-bottom: 1px solid black;
}
.profileNews {
    background-color:#313131;
    padding: 20px;
    border-bottom: 1px solid black;
}
.profileMusic{
    background-color:#313131;
    padding: 20px;
    border-bottom: 1px solid black;
}
.dialogNav {
    background-color:#313131;
    padding: 20px;
    border-bottom: 1px solid black;
}
a:hover {
    color: red;
}

.itemNavigation a.activeLink {
    color: gold;
}