*,*::after, *:before {
  box-sizing: border-box; 
}
body {
  font-family: sans-serif;
  background-color: #272727;
}
.app-wrapper {
  width: 1150px;
  height: 1000%;
  margin: 15px auto;


  display: grid;
  grid-template-columns: 2fr 6fr 2fr;

  grid-template-areas: 
  "header header header"
  "nav content event"
  "footer footer footer";

}
.app-wrapper-content{
  grid-area: content;
}